<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>添加候选人</title>
    <link rel='stylesheet' href='../css/weui.css' />
    <link rel='stylesheet' href='../css/vote.css' />
  </head>
  <body class='add-candidate'>
    <section class="form_view">
    	<div class="input_box req">
    		<label>真实姓名：</label>
    		<div class="padl60">
                <input type="text" id="realname" placeholder="请输入您的真实姓名">
            </div>
    	</div>
  	
    	<form action="" method="post" id="uploadImg" enctype="multipart/form-data">
      	<div class="input_box req">
      		<label>个人照片：</label>
      		<div class="padl60">
                  <div class="up_img">
                  	<input type="file" id="upImg" class="file" name="upImg" accept="image/*" runat="server">
                  	<input type="hidden" id="photo" value="">	
                  	<img src="../images/plus.jpg">	
                  </div>
              </div>
      	</div>
        <div class="input_box req">
          <label>参赛宣言：</label>
          <div class="padl60">
                  <textarea id="manifesto" placeholder="请输入自我介绍，个人详情，拉票宣言等..."></textarea>
              </div>
        </div>
    	</form>
      <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" onclick="signUp()" href="javascript:" id="login">添加</a>
      </div>
    </section>
  </body>
</html>

<script src="../scripts/cj.js"></script>
<script src="../scripts/signUp.js"></script>