<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>添加候选人</title>
    <link rel='stylesheet' href='../css/weui.css' />
    <link rel='stylesheet' href='../css/vote.css' />
  </head>
  <body class='ranking'> 
    <h1 class="title">活动排名</h1>

    <section class="ranking_list">
      <ul>
        <li>
          <a href="playerDetails.html?id=1">
            <div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
            <span>蛋蛋子</span>
            <div class="votes_num">758票</div>
          </a>
        </li>
        <li>
          <a href="playerDetails.html?id=1">
            <div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
            <span>蛋蛋子</span>
            <div class="votes_num">757票</div>
          </a>
        </li>
        <li>
          <a href="playerDetails.html?id=1">
            <div class="img"><img src="../images/tx_.jpg" width="100%" /></div>
            <span>蛋蛋子</span>
            <div class="votes_num">756票</div>
          </a>
        </li>


      </ul>
    </section>

  </body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/cj.js"></script>
