
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <title>投票系统</title>
    <link rel='stylesheet' href='../css/weui.css' />
    <link rel='stylesheet' href='../css/vote.css' />
  </head>
  <body>

    

      <div class="page__bd">     

        <h1 class='page-title'>学部优秀教师</h1>
        <p class='page-desc'>教育学部2016年度优秀教师评选开始啦！本次投票人仅限学部全体教师和全日制在读学生，每人限投10票，投票时间：2016年12月30日--2017年1月4日14时。小伙伴们抓紧时间来选出你心目中的学部优秀教师吧~</p>

        <!-- 候选人简介 -->
        <ul class="candidate-list">
          
           
          <li class="item">
            <img src="../images/30.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>杜霞</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副研究员</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>课程与教学研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育电影的心灵史》、《学习科学与语言教育》
</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>热爱教师职业，热爱教育生活，学为人师，修己安人,不仅关注学生的专业发展,更关注他们的心灵成长。独立承担的研究生专业选修课《学习科学与语言教育》，能够结合学习科学领域关于语言教育的最新进展，贯彻学习科学所倡导的“做中学”的理念，引导学生在真实的任务中深入领会语言教育的实质，探讨有效的语言教学方法。同时承担的本科生公选课程《教育电影的心灵史》，自开设八轮以来，每一轮授课均达到选课人数80人或60人的上限，教学中能结合自身文学、艺术和教育的跨学科背景，注重融入真实经验与思想哲理，教学语言生动、有感染力，在引导师范生探索教育问题、提升教育智慧的同时，更促进他们自身的生命成长。本课程在“蛋蛋网”选课论坛被学生关注和推荐，并获2010-2011学年本科生优质课程奖，依托该课程的积累，近两年来在《中国教育报》开设有《电影课》专栏，受到广大读者的好评，其中教育电影随笔《你的内心，我愿意倾听》获得2014年教育部“做党和人民满意的好老师” 征文二等奖，并收入文集《我以我心荐教育》中。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/31.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>洪成文</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>高等教育研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《Chinese Higher Education》、《高等教育政策与管理研究前沿》、《高等教育比较》
</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>教学聚焦创新和质量双要素，通过创新提高质量。全英文课《Chinese Higher Education》，渗透了实地考察。一边了解系统的中国高教知识，一边找机会带学生进校园考察学习。三年来，做计划，带学生去全国各地考察学习。带学生去澳门大学（8位）和天津外国语大学（11位）考察和交流。学习过程，采用专题研讨程序化：学生陈述在先，以扩其面；讨论其中，人人能参与；老师陈述在后，挖其深度。由此，学生兴趣大增，课程参与度很高，教学获得好评。
就辅导学生而言，坚持“轻松、卓越和个性化”原则。通过深度交流，了解学生发展兴趣，放大学生理想，提供备选路经。学生一旦能看清发展路径，目标就更清晰，学习动力就更足了。所以在我指导的学生中，有国家励志奖学金获得者，也有师大三好学生者，核心论文发表，更是走在前列，例如我的博士生王硕旺，学部论文引文最高者。
爱学生，不仅让他们成才，而且让他们成人，成“大人才”。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/32.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>姜英敏</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副研究员</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>国际与比较教育研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《国际理解教育的理论与实践》、《东亚文化与教育问题》
</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>作为本院国际理解教育研究中心主任从事国际理解教育研究工作15年，在中国、日本、韩国发表论文数十篇，专著或合著十余部，主持省部级、横向课题十余项。现为日本国际理解教育学会国际委员会委员、韩国国际理解教育学会会刊编辑。承担全校公共课教学10余年，曾获得本校教育教学成果一等奖。利用国际理解教育方面的多年研究成果，于2008年全国首次开设《国际理解教育的理论与实践》课程并讲授至今。《东亚文化与教育》教学中，在课堂中采用“中日大学生零距离对话”、“东亚三国文化理解相关个案分析”等灵活的教学方法获得学生好评，近3年教学评价平均4.87分。近3年所指导研究生两次获得专业一等奖学金。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/33.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>康永久</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育基本理论研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育学原理》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>坚持做本科生导师，热爱学生，关心每一个学生，乐于与学生对话，能多方面了解学生，与学生有着广泛的互动。对所指导的学生尽心尽责，坚持每周一次的读书会，就广泛的学术问题与学生一道展开思考，致力于实现学术指导与人生指导的结合。教学富有激情，关注学生的问题与困惑，有扎实的文献基础，致力于将课堂变成思想的殿堂，立一家之言。
每年指导学生实习，坚持听学生上课，与学生一起评课，长期支持“教育学社”活动，每年坚持给学社做学术演讲。在教育基本理论研究院推广主副导师制，丰富学生的社会联系，同时通过举办学术沙龙，打破学科与师门界限，营造良好的学术与人际氛围。学术上勇于创新，主要关注专业教育学、魅力教育学与制度情境中的教育学及其相互关系，奠定了“新制度教育学”的根基。代表性著作有《教育制度的生成与变革：新制度教育学论纲》（2003）、《绿色教育的实践立场：现场中的理论研究》（2014，合著）、《教育创新制度研究》《教育学原理五讲》（2016）等。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/34.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>李亦菲</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>助理研究员</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育心理与学校咨询研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《普通心理学》、《社会心理学》、《青少年心理发展与教育》、《教育的心理学与技术学基础》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>热爱教学，连续三年以上承担全日制本科和研究生教学任务，其中《青少年心理发展与教育》为硕士研究生公共平台必修课，《普通心理学》为本科生公共课。
长期从事青少年科技教育和创造力培养的研究和实践，治学严谨，能够将学科前沿知识与科研成果融入教学实践。本科生选修课《大数据时代的个人知识管理》即为以自主研发的个人知识管理软件为基础开设的课程，受到十几个院校选课学生的好评。
在教学中，注重启发式教学，善于利用图表阐述课程内容，做到深入浅出，启发学生思维。参与精品课程《教育的心理学与技术学基础》的教学改革与课程建设。
从2013年以来，先后指导研究生15人，做到每周与研究生讨论学术问题，并引导学生参加与专业有关的社会实践活动，开阔他们的视野。2014级学术型硕士研究生张海燕在2016年获北京师范大学学业二等奖学金、社会实践奖学金、暑期社会实践优秀个人等校级奖励。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/35.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>刘馨</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>学前教育研究所（系）</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《学前卫生学》、《学前儿童体育与健康教育》、《0-3岁儿童保育与教育》、《学前儿童健康教育研究》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>担任4门课程的教学任务，认真对待每一门课、每一次课，重视教书育人。课前认真备课，精益求精，准备充足的教学参考视频和照片，力图给予学生更为直观的认识以及对幼教实践的了解。课上认真传授专业基础知识，注重理论联系实际，注意启发学生独立思考，努力调动学生学习的主动性和积极性，课堂气氛较活跃，教学方式多样，许多课堂练习、课堂讨论和见习活动深受学生欢迎。课后经常与学生沟通和交流，认真指导学生，及时回答学生的提问；积极投身于与所授课程有关的专业研究和实践探索，出版和发表了多本专业教材和相关论文，并以此来促进和丰富专业课程的建设和教学。

本人工作格言：认真对待每一门课程、每一堂课、每一个学生，这就是我的本职工作。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/36.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>綦春霞</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>课程与教学研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《中学数学教学论》

</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>綦春霞老师的课程计划总是按照学生认知学习的过程来安排，并且实践占了很大的比重。课程内容丰富，组织形式多样，给予学生充分的思考空间和展示空间，鼓励学生探索，合作及表达。
在课堂上，綦春霞老师教授新课，同时也是同学们讨论的伙伴，作品展示时的评委之一。和同学们一同进行交流，发表自己的理解和看法。课下，解答同学们的疑问，对一些同学创意的作品进行指导。
每一节课，除了“说”还有“做”，自己独立提出问题、合作画知识图谱、设计创新题，模拟真实课堂……这些作品以不同的形式呈现出来，每一位都可以在作品中充分展示自己的理解和创意，同时也有走上讲台展示的机会。这些作品不但线上共享，还让每一位同学参与点评，线上投票点赞。
在实践中理解理论，建构知识，发挥创造力和实力，展现大学生的风采。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/37.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>王雁</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>特殊教育研究所（系）</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《人体解剖生理学》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>热爱并倾力投入教育事业，治学态度严谨，学风端正，为人师表，教书育人，如春雨润物细无声。32年坚守教学一线，为本科生开设《人体解剖生理学》这门基础课,积极从事该课程的教学改革与课程建设。能够将学科前沿知识与科研成果融入教学实践，重整课程内容体系，进行教材建设，分别于2009年、2015年出版了《人体解剖生理学》及《教育生理学基础》两本教材；践行主动参与教学理念，构建课堂教学、实验教学及辅助网络学习环境三位一体的教学模式；改革教学方法和手段，建设支持性课程资源，充分整合学校已有的实验室资源，创建共享实验资源平台，并进行示范实验数据化建设，突破时空及学科限制，真正实现了学生无时、域限制的脑、眼、手高度融合的学习，以及不同学科学生之间的相互学习等。该门课程的授课获得了学生一致好评，连年的评课成绩都处于优秀水平。课程改革及建设成果曾获得北京师范大学教学成果一等奖，北京市高等教育教学成果二等奖。精心指导每一位学生，所指导的研究生曾获得过北师大、北京市优秀毕业生。所指导的本科生成功申报国创课题，并顺利结项。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/38.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>吴娟</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育技术学院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《受众体验的科学活动设计》、《信息技术与课程整合》、《教育技术学》、《信息技术与中国基础教育》、《课程与教学论》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>吴娟老师热爱教学工作，善于教学创新，与学院老师们一同，率先尝试未来教室环境下的教学改革，以调动同学们的课堂主动参与、促进知识内化和能力提升为宗旨，在优化课堂教学实施效果方面精心投入、刻苦钻研，积极探索“教师主导-学生主体”教学结构理论指导下的互动型的高校课堂教学改革。曾受北京市多所高校的教师发展中心之邀，吴娟老师向广大同行分享的教学经验，博得一致好评。

吴娟老师善于从同学们的具体特点出发，有针对性地开展指导工作和学生工作。每月一次的大组读书会是本科生们和研究生们的共同盛会；每周一次的各专题小组讨论会，以传帮带的方式将研究深入，也是帮助本科生体验研究的过程。

作为2013/2014级教育3班的班主任，吴娟老师以“吴妈的方式”，陪伴着70位家庭成员的大学时光。班级氛围温暖融洽，学风浓郁，同学们有所担当。5个国奖、1个京师校友金声奖、优秀班集体、优秀团支等荣誉，是最好的说明。

</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/39.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>杨明全</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>国际与比较教育研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《课程论》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>《课程论》致力于为本科生提供有关课程的专业知识和专门技能。多年来我们积极将学科前沿知识与科研成果融入教学实践，致力于推动教学改革与课程建设，在教学内容、教材、方法、手段改革方面取得了一定成果。在课堂教学方面，我们积极探索“教师主讲+学生汇报+互动研讨”的教学模式，学生全员参与对专业知识的梳理和汇报，培养了学生的兴趣，也提高了教学效果。在教学内容方面，我们积极推动教材改革与创新，在2010年编写《课程概论》（由北京师范大学出版社出版）的基础上，2016年又推出新版教材《课程论》（由中国人民大学出版社出版），免费给学生使用，它系统、全面、深入浅出，受到学生欢迎。在教学手段和形式上，我们积极以网络为平台（如校园BBS、公共邮箱等），为学生答疑，提供更多学习材料，丰富了学生的学习经验。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/40.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>叶菊艳</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>讲师</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教师教育研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育学》、《叙事与大学生成长》、《System in Transition》、《教师社会学》、《当代教育发展分析》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>身为北师大教育学部教师，从教5年来，我以作育英才为使命，引领学生在知识、心灵与社会间建立联结，探寻与体悟教育的真谛。
教改项目新生研讨课《叙事与大学生成长》上，我的学生可在课堂上与不同行业者共游社会，借助理论剖析社会运行逻辑及教育于社会的意义；全校公选《教育学》及教育硕士课上，我的学生能看到一线教师和我同台，通过案例研究、叙事探究、戏剧表演等将理论与实践联结，反思自己要做怎样的未来教师；国际硕士课《System in Transition》上，我的学生从孔庙考察开始，一路随我展开东方与西方、传统与现代的高等教育对话；学生指导时，我引导学生从自己的生命体验中生长出研究选题，做走进生命的学问…… 
 坚持科研成果与教学相长，以完整的灵魂走进学生内心，引导学生既知晓来时的路、又会探寻去时的方向，这，是我作为学者－教师的坚定姿态。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/41.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>余清臣</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育基本理论研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育学》、《教育实践的哲学》、《教育学原理》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>本人近年来主要承担了课程有本科教育学专业学科基础课《教育学》、学术研究生专业课《教育实践的哲学》和教育硕士《教育学原理》。在教学中，本人坚持“在教育实践的宏观视野中开展教育学理论学习”的思想，既全新开设“培育对教育实践的宏观视野”的《教育实践的哲学》课程，又从“在教育理念的丛林中穿行”的意境进行本科生和教育硕士《教育学（原理）课程》教学。在这些课程的教学中，本人兼重“对教育实践的深刻理解”和“对教育理论的经典学习”（为每门课程都编写基础阅读文选）。这些课程教学效果良好，在2016年被学部本科生推选参评北京师范大学本科十佳教师。
本人作为主讲教师参加了两门国家精品课程建设，它们是：全国精品视频公开课《教育学导论》（主讲教师，2015）、国家精品课程《教育学原理》（网络，主讲教师，2009获评、2016再次确认）。本人近年来在教学方面主要获奖有：全国教育专业学位教学成果二等奖（2015，排名第二），北京师范大学教育教学成果一等奖（2012，排名第二），2014年度北京师范大学本科教育实习优秀工作者。
本人对学生的指导主要侧重于著作和论文撰写，三年来共指导硕士研究生和本科生在北京师范大学出版社出版社合作出版著作1部，在《教育科学研究》等杂志发表论文5篇。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/42.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>张斌贤</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育历史与文化研究院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《外国教育史》、《美国教育史》、《西方现代教育史前沿研究》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>张斌贤教授热爱教学且治学严谨，长期坚持工作在教学第一线，承担全日制本科及研究生教学任务，开设了“外国教育史”、“美国教育史”、“西方现代教育史前沿研究”、“西方教育思想史”等多门课程；课程内容紧扣学科发展前沿、教学改革成果和人才培养需要，尤为注重提升学生的学术科研能力；教学效果良好，受到了同学们的一致认可与高度评价，课程评教分数均在4.6以上；2013年，张斌贤教授带领教育历史与文化研究院外国教育史团体申请教学成果奖，获得北师大一等奖和北京市教学成果二等奖；始终关注学生的发展，认真指导学生，且学生表现突出，其指导的学生在学术科研能力方面有很大的提升，先后在《教育研究》、《教育学报》、《高等教育研究》等中文核心期刊上发表论文，且获得了国家奖学金或校级学业一等奖学金等奖励；</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/43.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>张东娇</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育管理学院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育管理学》、《学校公共关系管理》、《学校管理专题》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>爱学生，给予学生专业指导和生活指导，关系和谐美好。给予学生全面锻炼的机会。学生各个能干，成为多面手。爱课堂，认真备课，及时把所学和思考分享给学生，课堂轻松而有逻辑。看学生打的4.95分很高兴，得到肯定的同时感觉还要努力，还有进步空间啊。爱教学，已经出版了所教学科的教材3本：《教育管理学》、《学校管理学》、《学校公共关系管理》。2013年成为教育学部学位中心教育硕士《教育管理学》案例研究小组成员，提供9个案例全部入库。爱沟通，每个周二晚上6点到9点，与所带所有研究生举行习明纳，内容包括选题、预开题、预答辩、读书交流、论文汇报与修改、课题汇报等。爱研究，尝试新的教学方法。在所教的几门课中，坚持十多年小组教学——每个学期拿出4-6节课学生分小组讲课，小组长负责制，集体评分，成绩计入期末，效果良好，近2年来尝试《教育管理学》案例教学，已经运用5个案例，心得已经成文，发表在《比较教育研究》，还要继续探索和研究。爱职业，喜欢教师这个职业，一直很骄傲地说：我是教书的。我一直而且永远是你们的老师和朋友。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/44.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>赵德成</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育管理学院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《教育测量与评价》、《学校发展与评估》
</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>赵德成，副教授，博士生导师。目前担任课程有《教育测量与评价》（本科生）和《学校发展与评估》（研究生）。他治学严谨，2016年荣获“2015年度中国人文社科最具影响力青年学者”称号，作为参考教材的个人著作《促进教学的测验与评价》和《学校评估：理论、政策与实践》紧跟学术前沿态与政策热点，有足够的深度和广度；他讲课深入浅出，风趣幽默，而且理论联系实际，能帮助学生掌握核心学科技能；他对学生认真负责，每门课都有8次以上各种形式的作业，而且及时评改和反馈；他悉心指导本科生和研究生，2015和2016两个年度分别有一名硕士生和一名博士生获得国家奖学金，有多名研究生在SSCI和CSSCI期刊上发表有影响力的学术文章。</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/45.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>赵萍</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>讲师</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教师教育研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《国际教师教育比较研究》、《Educational Policy Analysis》、《美国教育与教师研究导论》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'><style>span{text-indent:2em;}</style><span'>我理想中的教学，是满怀好奇地与学生一起开展一段丰富而有趣的探索历程，期待着未知的一切所带来的惊喜。</span><span>我理想中的教学，是轻松自在却充满了智识的挑战，在古今中外的对话和交流中让思想的光辉时时点亮赤诚的心灵。</span><span>感谢一路相伴的师长、同行与学生，与我一起走在通向理想的路上。</span><span>赵萍，主要研究领域为教师教育和比较教育，发表中英文论文数十篇，专著一部；主持或参与多项省部级课题，参编、翻译多部著作，荣获北京师范大学青年教师教学基本功大赛三等奖，主持的两门课程分别获得校级优质研究生课程优秀奖和校级来华留学精品英文课程。</span></p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/46.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>郑勤华</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>教育技术学院</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《在线教育基本原理》、《在线学习设计与分析》、《远程教育学基本原理》
</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>在线教育是教师和学生在相对时空分离状态下，教学和学习再度整合的过程。这个过程中即要考虑教学的实施有效性，也要考虑信息技术环境下教学策略的合理应用。教师教学中以在线学习的原理和实践应用为核心目标，基于MOODLE平台和国内外相关MOOC平台搭建数字化学习环境，以学习活动为核心，通过活动设计为学生构建自主学习环境。在活动设计中，综合探究、协作、案例、创作、项目等多种形式学习模式，从而保证课程教学质量，提升学习绩效。
在指导学生方面，主要将在线教育的基本理论和机构的实践充分结合，一来和互联网教育公司相关业务负责人深度合作，共同指导学生；二来根据学术和实践要求，对课程作业和产品设计充分融合；三是积极支持学生参与各类课题研究，将教学和研究充分融合。指导的学生课程作业发表在各类期刊上，指导的互联网教育产品设计成为实践应用的原型，并获得了各种课题资助。
总体而言，发挥在线教育自身的特色和优势，打造信息技术环境下的学以致用型课程，是人才培养中的核心特点。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/47.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>钟秉林</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>高等教育研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《高等教育专题研究》、《高教政策与管理研究前沿》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>钟秉林教授的课堂教学主要包括两大“模块”：一是每周高等教育热点问题讨论；二是高等教育领域的专题研究。首先，以“导论”形式介绍课程的专题安排，并提出学习方法和学习要求；其次，选取当前高等教育领域重点关注的问题，包括财政拨款、学生资助、学费问题、招生改革、课堂教学、人事管理、劳动力市场、国际化、民办高教发展等9个专题。第三，各专题都以学术研究的完备体系形式予以呈现与传授，不仅让学生能够更加深刻地掌握高等教育相关的理论知识与实践问题，还能让学生得到较为完备和严谨的科研训练。
钟秉林教授不但掌握了教育学科的最新理论、技术、方法及研究动态，也知晓国际先进的办学理念、管理经验、教学内容和教学方法等，并能通过教学和科研活动夯实学生的研究基础，拓展学生的国际视野。在人才培养和教学工作中坚持“以学生为主体”，重视培养学生问题意识和独立思考能力，激发学生的创造力。在学术研究工作中身体力行，努力做到严谨求实，有所创新，并引导学生全面发展。
</p>
              </div>
            </div>
          </li>
          
           
          <li class="item">
            <img src="../images/48.JPG" alt=""/>
            <hr>
            <div class="text">
              <p class='name'>周慧梅</p>
              <div class='title-wrap title-1'>
                <p class='title'>职称：</p>
                <p class='title-content'>副教授</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>学术机构：</p>
                <p class='title-content'>职业与成人教育研究所</p>
              </div>
              <div class='title-wrap title-2'>
                <p class='title'>开设的主要课程：</p>
                <p class='title-content'>《成人教育发展史》》、《社区与概论（研究课程）》</p>
              </div>
              <div class='title-wrap title-2 desc'>
                <p class='title'>参评陈述</p>
                <p class='title-content'>现任职业与成人教育研究所副所长、党支部书记，2016级3班（硕）班主任，主要研究领域为民国社会教育。在教学上：《成人教育发展史》、《社区教育与社区发展概论》为研究生专业课程；《中华人民共和国教育史》为本科生通识课程，均获得学生好评，三年来学生教学评价在4.9分以上；所带研究生一人次获北京市优秀毕业生、四人次获学校一等学术奖学金；指导本科生课题获6项国家、北京市和校级科研立项。在科研上：近年来主持三项省部级课题，如《民国时期社会教育变迁的制度分析》（教育部人文社会科学青年基金，2014）、《民国时期北京民众教育馆研究》（北京市社会科学基金项目，2016），先后出版3本专著、《近代民众教育馆研究》、《民众教育馆与近代中国变迁》与《“新国民”的想象：民国时期民众学校研究》，在《教育研究》、《华东师范大学学报（教科版）》等发表论文30余篇，先后获得第七届全国高等学校科学研究优秀成果奖、第五届全国教育科学研究优秀成果奖等。在社会工作上：所在党支部获得2015年教育学部“先进党支部工作”，个人获得教育学部“优秀党务工作者”、学校“优秀班主任”等荣誉称号。</p>
              </div>
            </div>
          </li>
          
        </ul>

        <!-- 投票期限 -->
        
        
        
          <a href="javascript:history.back();" class="weui-btn weui-btn_default">投票已结束</a>
        

        

          <!-- 投票选项 -->
          <div class="weui-cells weui-cells_checkbox checkbox-list">
              
               
              
                <label class="weui-cell weui-check__label" for="c0" data-id='30'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c0' data-id="30" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/30.JPG' alt='' />
                        <p class='name'>杜霞</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c1" data-id='31'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c1' data-id="31" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/31.JPG' alt='' />
                        <p class='name'>洪成文</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c2" data-id='32'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c2' data-id="32" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/32.JPG' alt='' />
                        <p class='name'>姜英敏</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c3" data-id='33'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c3' data-id="33" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/33.JPG' alt='' />
                        <p class='name'>康永久</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c4" data-id='34'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c4' data-id="34" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/34.JPG' alt='' />
                        <p class='name'>李亦菲</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c5" data-id='35'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c5' data-id="35" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/35.JPG' alt='' />
                        <p class='name'>刘馨</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c6" data-id='36'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c6' data-id="36" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/36.JPG' alt='' />
                        <p class='name'>綦春霞</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c7" data-id='37'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c7' data-id="37" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/37.JPG' alt='' />
                        <p class='name'>王雁</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c8" data-id='38'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c8' data-id="38" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/38.JPG' alt='' />
                        <p class='name'>吴娟</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c9" data-id='39'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c9' data-id="39" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/39.JPG' alt='' />
                        <p class='name'>杨明全</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c10" data-id='40'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c10' data-id="40" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/40.JPG' alt='' />
                        <p class='name'>叶菊艳</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c11" data-id='41'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c11' data-id="41" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/41.JPG' alt='' />
                        <p class='name'>余清臣</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c12" data-id='42'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c12' data-id="42" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/42.JPG' alt='' />
                        <p class='name'>张斌贤</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c13" data-id='43'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c13' data-id="43" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/43.JPG' alt='' />
                        <p class='name'>张东娇</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c14" data-id='44'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c14' data-id="44" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/44.JPG' alt='' />
                        <p class='name'>赵德成</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c15" data-id='45'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c15' data-id="45" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/45.JPG' alt='' />
                        <p class='name'>赵萍</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c16" data-id='46'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c16' data-id="46" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/46.JPG' alt='' />
                        <p class='name'>郑勤华</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c17" data-id='47'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c17' data-id="47" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/47.JPG' alt='' />
                        <p class='name'>钟秉林</p>
                    </div>
                </label>
              
               
              
                <label class="weui-cell weui-check__label" for="c18" data-id='48'>
                    <div class="weui-cell__hd">
                        
                        <input type="checkbox" class="weui-check" id='c18' data-id="48" disabled name="candidate">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <img src='../images/48.JPG' alt='' />
                        <p class='name'>周慧梅</p>
                    </div>
                </label>
              
          </div>

         

      </div>

      <!-- toast -->
      <div id="toast-10" style="opacity: 0; display: none;">
          <div class="weui-mask_transparent"></div>
          <div class="weui-toast">
              <p class="weui-toast__content"></p>
          </div>
      </div>

      <input id='is_user' type='hidden' value='true' >

      
        <!-- 投票按钮 -->
        <div class="voter-wrap">
          <a href="javascript:;" class="weui-btn weui-btn_primary voter-btn" id='voter'>投票</a>
        </div>
      

        

    <script src="../js/zepto.min.js"></script>
    <script src="../js/cookie.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
